body
{
	background-image: url("img/birds.png");
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

.wrapper
{
	width: 100%;
}

.header
{
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background-image: url("img/cyclone.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	width: 100%;
}
.header > span
{
    font-size: 32px;
    color: #acdbce;
    opacity: 0.3;
}

.logo
{
	width: 450px;
    max-width: 95%;
	font-size: 56px;
	margin-left: auto;
	margin-right: auto;
	color: #2b6944;
	font-weight: 700;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    opacity: 0.8;
	/*2px 2px 0 black,
	-2px 2px 0 black,
	-2px -2px 0 black,
	2px -2px 0 black;*/
}
.nav
{
	width: 100%;
	height: 44px;
	padding: 10px 0;
	/*background-color: #1EE2F4;*/
	background-image: url("img/dust.png");
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}
.navbar
{
    min-height: 57px;
}
.bg-ustaw{
    background-image: url(img/dust.png)
}
.content
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 40px;
}
            /*----------------------------socials-------------------------------*/
.socials
{
	width: 100%;
	background-image: url("img/concrete.png");
	text-align: center;
}
.socialdivs
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.call
{
	width: 33%;
	height: 240px;
	float: left;
    margin: auto;
}
.call:hover
{
	background-color: #00d35f;
    border-radius: 12px;

}
.email
{
	width: 34%;
	height: 240px;
	float: left;
    margin: auto;
}
.email:hover
{
	background-color: #1cf1f8;
    border-radius: 12px;

}

.loc
{
	width: 33%;
	height: 240px;
	float: left;
}
.loc:hover
{
	background-color: #7e2eff;
    border-radius: 12px;
}

.fb
{
	width: 33%;
	height: 110px;
	float: left;
}
.fb:hover
{
	background-color: #4668b3;
    border-radius: 12px;

}

.yt
{
	width: 34%;
	height: 110px;
	float: left;
}
.yt:hover
{
	background-color: #d94348;
    border-radius: 12px;

}
.tt
{
	width: 33%;
	height: 110px;
	float: left;
}
.tt:hover
{
	background-color: #3095d3;
    border-radius: 12px;
}
.footer
{
	text-align: center;
	background-color: #222222;
	opacity:0.8;
	color: white;
	padding: 16px;
}
            /*----------------------------socials-------------------------------*/

            /*----------------------------sticky-------------------------------*/
/* .sticky
{
	width: 100%;
	height: 36px;
	font-size: 30px;
	/* padding: 2px 2px; */
	opacity: 0.96;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
} */
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}
ol a
{
	color: black;
	text-decoration: none;
	display: block;
}
ol >li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}
ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}
ol > li:hover
{
	background-color: #78EBF6;
}
ol > li:hover > a
{
	color: black;
}
ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}
ol > li > ul > li
{
	background-color: #01AFBF;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
}
ol > li > ul > li:hover
{
	background-color: #78EBF6;
}
ol > li > ul > li:hover > a
{
	background-color: #78EBF6;
}
ol > li:hover > ul
{
	display: block;
}
            /*----------------------------sticky-------------------------------*/

            /*--------------------------weather-widget-----------------------------*/
.weatherApp {
    margin: 15px auto 20px auto;
    width: 300px;
    max-width: 90%;
    height: 180px;
    border: 1px double black;
    border-radius: 20px;
    box-shadow: 10px 10px 50px #888888;
    overflow: hidden;
    text-align: center;
    background-color: gray;
}

.weatherApps {
    display: none;
}

.left {
    float: left;
    background-image: url(img/black_paper.png);
    padding:10px;
    width:50%;
    height:100%;
    color:white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.temperature {
    margin-top:30px;
    margin-bottom:5px;
    font-size:32px;
    font-weight: bold;
    width: 100%;
}

.location {
    font-size: 18px;
    width:100%;
    width: 100%;
}

.right {
    float: left;
    width:50%;
    height:100%;
}

.top {
    height: 60%;
    width: 100%;
    margin: auto;
    background-image: url(img/dust.png);
    border-top-right-radius: 20px;

}

.top img {
    margin-top: 8px;
}

.bottom {
    height: 40%;
    background-image: url(img/pool_table.png);
    color: white;
    font-weight: bold;
    border-bottom-right-radius: 20px;
}

.humidity {
    padding: 2px;
}

#wApp1, #wApp2, #wApp3, #wApp4, #wApp5, #welcome{
    display: none;
}

            /*--------------------------weather-widget>-----------------------------*/
                /*--------------------------<inputs-----------------------------*/
input[type=text], input[type=password], select {
    display: block;
    width: 80%;
    padding: 12px 20px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 1000px;
}

input[type=submit] {
    display: block;
    width: 60%;
    background-color: #357a51;
    color: white;
    padding: 14px 20px;
    margin: 35px auto 15px auto;
    border: 2px outset #3b8b5b;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2b6944;
    box-shadow: 8px 8px 15px #e1e1e1;
    text-shadow: 0.5px 0.5px 0.5px #e8e8e8;
}

.content > div {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 25px #888888;
    text-align: center;
}
.content > div > div {
    background-color: #f2f2f2;
    padding: 7px;
    margin-bottom: 20px;
    margin-right: 30px;
    border: 4px double #888888;
    border-radius: 25px;
    box-shadow: 5px 5px 15px #888888;
}

form {
    text-align: center;
}

a {
    text-decoration: none;
}

label{
    font-size: 30px;
    font-weight: bolder;
}

table{
    font-size: 25px;
    /* font-weight: bolder; */
}

.buttonsBox {
    width: 115px;
    display: inline-block;
}

.error {
    font-size: 20px;
    padding-bottom: 8px;
    font-weight: 500;
    color: red;
}

.button {
    border-radius: 20px;
    font-size: 18px;
    border: 4px outset rgb(1, 80, 48);
    line-height: normal;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: auto;
    height: 36px;
    min-width: 36px;
    align-items: right;
    background-color: rgb(221, 223, 222);
}

.button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.57);
}

#btnMinus {
    visibility: hidden;
    border: 4px outset rgb(70, 1, 16);
}

#btnPlus:hover{
    background-color: #327c50;
}

#btnMinus:hover{
    background-color: rgb(179, 45, 45);
}


                /*--------------------------inputs>-----------------------------*/
